/* style.css */

:root {
    --grey: rgb(139, 139, 139);
}

body {
    background-color: #C8E0DA;
    background-image: url('img/background3.jpg');
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 45% 55%;
    display: flex;
    align-items: left;
    font-family: 'Nanum myeongjo', serif;
    line-height: 1.5;
    min-height: 100vh;
    overflow: hidden;
}

body, h1, h2, h3, h4, h5, h6, p, a, span, div, li {
    font-weight: normal;
}

.main {
    height: 400px;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 30px;
    margin-left: 70px;
    margin-top: 60px;
    text-align: left;
}

#to-do-input {
    font-family: 'Nanum myeongjo', serif;
    font-size: 20px;
    margin-top: 60px;
    text-align: left;
    border: none;
    outline: none;
    background-color: transparent;
}

.to-do {
    margin-left: 70px;
    text-align: left;
}

ul {
    font-family: 'Nanum myeongjo', serif;
    display: block;
    margin-left: -40px;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
}

input[type="checkbox"]:checked {
    background-color: grey;
}

.horizontal-bar {
    width: 70%;
    height: 1.5px;
    margin-top: 5px;
    background-color: black;
}

h2 {
    margin-top: -30px;
    font-size: 20px;
}

.content {
    text-align: left;
    font-size: 15px;
    position: fixed;
    right: 0;
    margin-right: 125px;
    top: 50%;
    transform: translateY(-50%);
}

.item {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

.item h3 {
    display: inline;
    margin-right: 10px;
}

.item i {
    display: inline;
    margin-right: 10px;
}

.volume-container {
    display: flex;
    align-items: center;
    padding: 4px;
}

.slider {
    appearance: none;
    display: block;
    width: calc(100% - 40px);
    width: 300px;
    height: 2px;
    background: var(--grey);
    margin-right: 5%;
}

.slider::-webkit-slider-thumb {
    appearance: none;    
    width: 7px;
    height: 7px;
    background: var(--grey);
    cursor: pointer;
    border-radius: 50%;
}

.fal-volume-high {
    display: inline;
    margin-left: 10px;
}