/* style.css */

:root {
    --grey: rgb(139, 139, 139);
}

body {
    background-color: #C8E0DA;
    display: flex;
    font-family: 'Nanum myeongjo', serif;
    line-height: 1.5;
    overflow: hidden;
}

body, h2, h3 {
    font-weight: normal;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-box {
    flex: 1;
    width: calc(100% / 3);
    margin-left: 120px;
    margin-right: 20px;
}

.middle-box {
    flex: 1;
    width: calc(100% / 3);
}

.right-box {
    flex: 1;
    width: calc(100% / 3);
    margin-left: 20px;
    margin-right: 40px;
}

#background {
    width: 95%;
    height: auto;
    transform: translate(0%, 50%);
}

#title-1 {
    font-size: 50px;
    font-weight: normal;
    text-align: left;
    margin-top: 120px;
}

#title-2 {
    font-size: 20px;
    margin-top: -30px;
}

#to-do {
    font-family: 'Nanum myeongjo', serif;
    font-size: 20px;
    margin-top: 60px;
    border: none;
    outline: none;
    background-color: transparent;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
    cursor: pointer;
}

.horizontal-bar {
    width: 70%;
    height: 2px;
    margin-top: 5px;
    background-color: black;
}

.trash {
    color: var(--grey);
    float: right;
    margin-right: 30%;
    cursor: pointer;
}

.sound-effects {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    position: relative;
    top: 17%;
}

button {
    appearance: auto;
    height: 15px;
    width: 15px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.item {
    margin: 10px;
}

.item h3,
.item i {
    display: inline;
    margin-right: 10px;
}

.volume-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.slider {
    appearance: none;
    width: 300px;
    height: 2px;
    background: var(--grey);
    margin-right: 5%;
}

.slider::-webkit-slider-thumb {
    appearance: none;    
    width: 7px;
    height: 7px;
    background: var(--grey);
    cursor: pointer;
    border-radius: 50%;
}

.fal-volume-high {
    display: inline;
    margin-left: 10px;
}

.footer {
    font-size: 15px;
    position: fixed;
    margin-left: 20px;
    bottom: 0px;
    text-decoration: none;
}

.footer h3 a {
    color: var(--grey);
    text-decoration: none;
}

.footer h3 a:hover {
    text-decoration: underline;
}