/* style.css */

body {
    display: flex;
    align-items: left;
    font-family: 'Nanum myeongjo', serif;
    line-height: 1.5;
    min-height: 100vh;
    overflow: hidden;
}
body, h1, h2, h3, h4, h5, h6, p, a, span, div, li {
    font-weight: normal;
}

.main {
    height: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 50px;
    margin-left: 200px;
    margin-top: 70px;
}

.content {
    text-align: left;
    font-size: 15px;
    position: fixed;
    right: 0;
    margin-right: 200px;
    margin-top: -120px;
}

.item {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

.item h3,
.item i {
    display: inline;
    margin-right: 10px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 300px;
    height: 2px;
    background: rgb(169, 169, 169);
    outline: none;
    border-radius: 10px;
    margin-right: 100px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;    
    width: 7px;
    height: 7px;
    background: rgb(169, 169, 169);
    cursor: pointer;
    border-radius: 50%;
}